*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* ne menyre qe me perfshi edhe padding the border ne gjeresine dhe gjatesine totale te elementeve*/
}

body
{
    font-family: Georgia, serif; /* 4.3: Përdorimi i CSS për vendosje të ‘’font-it’’, ngjyrave dhe madhësisë; 13.1: Përdorimi i rregullt i vetive të CSS Fonteve, Linqeve dhe Tabelave (linqet dhe tabelat jane ne pjese tjera tprojektit; 13.3: Përdorimi i Font Family, Font Style*/
    font-style: normal;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header
{
    background-color: #E8E8E8;
    width: 100%; /* 4.3: Përdorimi i CSS për vendosje të ‘’font-it’’, ngjyrave dhe madhësisë  */
    height: 200px;
    padding: 10px 20px 45px 20px;
    margin-bottom: -70px;
}

section
{
    background-color: #ffffff;
    border-radius: 7px; /* 16.2: Përdorimi i vetive të ‘bordsers’: radius, shadow, image (shadow dhe image gjenden ne portfolio.html*/
    margin: 0 10% 0 10%; /* 14.4: Përdorimi i CSS Margjinave dhe definimi i tyre në CSS */
    padding: 10px 50px 50px 50px; /*    14.5: Përdorimi i CSS Padding dhe definimi i tyre në CSS    ;qeky padding ndikon edhe te 2 butonat nalt*/
    position: relative;/* ne menyre qe te na del edhe mbi footer pasi ne footer e bejme ndryshimin margin-top: -70px;*/
}

footer
{
    width: 100%;
    padding: 70px 30px 15px 30px;
    background-color: #E8E8E8;
    margin-top: -70px;
}

.navbar
{
    position: absolute;
    list-style: none;
    right: 20px;
    top: 40px;
}

.navbar a
{
    color: #999;
}

.navbar li
{
    padding-left: 30px;
}

.navbar a:hover /* 13.4: Përdorimi i Styling Links*/
{
    color: rgb(226, 73, 75);
}

h1, .navbar li, .text-logo p, .text-logo
{
    display: inline-block;
}

h1, h3, .navbar, button
{
    text-transform: uppercase;/* 13.2: Përdorimi i Text color, Text Alignment, Text Decoration, Text Transformation*/
}

h1::first-letter
{
    font-size: 2.5rem; /* rem=root em, ku bazohet ne font-size te krejt html masanej vlera qe e merr eshte sikur me scale ate madhesi baze, dmth ne rastin tone eshte 16px = 2.5*1em*/
}

#left, #right
{
    width: 20px;
    height: 20px;
    float: right;
    margin: 5px;
    cursor: pointer;
}

#right
{
    transform: rotate(180deg); /*   17.1: Përdorimi i metodave kryesore për transformimet 2d si: translate, rotate, scale, skew*/
}

.text-logo p /* 14.1: Kuptimi dhe përdorimi i parametrave kryesorë të CSS Box Modelit, aplikime tjera gjenden brenda tere projektit */
{
    height: 30px;
    width: 120px;
    padding-left: 5px;
    border-left: 1px solid #999;
}

.container, .footer-content
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.container > div, .footer-content > div
{
    margin-top: 50px;
    width: 210px;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8
{
    height: auto; width: 210px;
    background-size: cover;/*kjo na ben qe foto url te behet stretch sa madhesia e IMAGES qe e kemi definu, ne kete rast ne 370 x 210 edhe pse fotot kane rezolucion shume me te larte */
    background-position: center;/* 12: Shfrytëzimi i CSS vetive në vijim:- background-position*/
}

.info
{
    background-color: #E8E8E8; /* 4.2: Përdorimi i CSS për vendosje të ‘’backgorund’’*/
}

.info td
{
    text-align: right; /* 4.4: Përdorimi i CSS për vendosje të tekstit */
}

h2
{
    color: rgb(226, 73, 75);
    font-size: 18px;
}

h3
{
    font-size: 12px;
    margin-bottom: 25px;
}

.container h2, .footer-content h2
{
    padding-top: 30px
}

h4
{
    margin: 0; /* perndryshe h2shat po kane shume hapesira mes vete*/
}

footer h3,h4,h6
{
    color:#979797
}

p
{
    color: #999;
    font-size: 12px;
}

a/*13.1: Përdorimi i rregullt i vetive të CSS Fonteve, Linqeve dhe Tabelave */
{
    text-decoration: none;/* 13.2: Përdorimi i Text color, Text Alignment, Text Decoration, Text Transformation */
    font-size: 12px;
    color: rgb(226, 73,75);
}

.section-intro h2
{
    color: #666666;
}

.controls
{
    height: 60px;
    width: auto;
    padding-top: 0.75em;
    margin-bottom: -10px;/* per me i vendose images pak ma nalt. Nuk e bejme ket nderrim ne .images div sepse do nderronte edhe stili i divave tjere qe e perdorin images per stilizim*/
}

#icon1, #icon2, #icon3
{
    float: left;/* 5.4: Zhvendosja e figurës në anën e majtë dhe të djathtë të tekstit*/
    margin: 0 10px 10px 0 ;
}

.bottom-services img
{
    width: 210px;
    height: 140px;
}

.bottom-services p
{
    white-space: normal;
    text-align: left;/* 13.2: Përdorimi i Text color, Text Alignment, Text Decoration, Text Transformation*/
}

.bottom-services h2
{
    margin-top:-30px /* ne menyre qe me dale ne vije me tjerat, sepse fillimisht e kemi bo qe krejt h2 ne container me pase margin per 30px, tash duhet ket me  bo -30px*/
}

.bottom-bar
{
    margin-top: 4em;
}

#go_up
{
    width: 40px;
    height: 40px;
    float: right;
    transform: rotate(90deg);
    margin-top: -15px;
    cursor: pointer;
}

.about img
{
    border: 4px #DCDCDC double; /*  14.2: Përdorimi i CSS Borders dhe borders style të ndryshëm (të paktën 2 border style), border style tjeter gjendet ne about.html*/
    width: 223px;/*per shkak qe aj lloj i kufirit i ka 2 vija me nga 4px, dmth duhet me u shtu nga 8 px ne width the height te figures */
    height: 98px;
    /*width: 215px;*/
    /*height: 90px;*/
}

.site-date, #\#footer_post1, #\#footer_post2
{
    margin-bottom: -10px;
}
#\#footer_post2
{
    margin-top: 20px;
}

.linkHr
{/* 12: Përdorimi i rregullt i vetive të CSS Background*/
    background-color: #DADADA;/* 12: Shfrytëzimi i CSS vetive në vijim:- background-color*/
    width:auto;
    height: 0.1em;
    border: 0 #DADADA;
    margin: -7px 0 -7px 0;
}

#bottomHr
{
    margin-top: 50px;
}

.post-desc1, .post-desc2
{
    margin-bottom: -3px;
}

input, textarea
{
    width: 210px;
    padding: 5px;
    border: none; /* per me arrite efektin e kerkuar si ne .psd file*/
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #333;
}

textarea
{
    height: 110px;
}

.contact button
{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(226, 73, 75);
}

button, ::placeholder
{
    color: #fff;
}

button, ::-webkit-input-placeholder
{
    color: #fff;
}

::-webkit-input-placeholder
{
    font-family: Georgia, serif;
    font-size: 12px;
}

.copyright p
{
    display: inline-block;
}

.copyright p:last-child
{
    float: right;
}
