*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* ne menyre qe me perfshi edhe padding the border ne gjeresine dhe gjatesine totale te elementeve*/
}

body
{
    font-family: Georgia, serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header
{
    background-color: #E8E8E8;
    width: 100%;
    height: 200px;
    padding: 10px 20px 45px 20px;
    margin-bottom: -70px;
}

section
{
    background-color: #ffffff;
    border-radius: 7px;
    margin: 0 10% 0 10%;
    padding: 10px 50px 50px 50px; /*qeky padding ndikon edhe te 2 butonat nalt*/
    position: relative;/* ne menyre qe te na del edhe mbi footer pasi ne footer e bejme ndryshimin margin-top: -70px;*/
}

footer
{
    width: 100%;
    padding: 70px 30px 15px 30px;
    background-color: #E8E8E8;
    margin-top: -70px;
}

.navbar
{
    position: absolute;
    list-style: none;
    right: 20px;
    top: 40px;
}

.navbar a
{
    color: #999;
}

.navbar li
{
    padding-left: 30px;
}

.navbar a:hover
{
    color: rgb(226, 73, 75);
}

h1, h3, .navbar, button
{
    text-transform: uppercase;
}

h2
{
    color: rgb(226, 73, 75);
    font-size: 18px;
}

h3
{
    font-size: 12px;
    margin-bottom: 25px;
}

h4
{
    margin: 0; /* perndryshe h2shat po kane shume hapesira mes vete*/
}

.section-intro h2
{
    color: #666666;
}

#left, #right
{
    width: 20px;
    height: 20px;
    float: right;
    margin: 5px;
    cursor: pointer;
}

#right
{
    transform: rotate(180deg);
}

.images
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.images > div
{
    margin-top: 50px;
    width: 210px;

}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8
{
    height: 370px;
    background-size: cover;/*kjo na ben qe foto url te behet stretch sa madhesia e IMAGES qe e kemi definu, ne kete rast ne 370 x 210 edhe pse fotot kane rezolucion shume me te larte */
    background-position: center;
}

.img1
{
    background-image: url(../IMAGES/img1.jpg);
}

.img2
{
    background-image: url(../IMAGES/img2.jpg);
}

.img3
{
    background-image: url(../IMAGES/img3.jpg);
}

.img4
{
    background-image: url(../IMAGES/img4.jpg);
}

.img5
{
    background-image: url(../IMAGES/img5.jpg);
}

.img6
{
    background-image: url(../IMAGES/img6.jpg);
}

.img7
{
    background-image: url(../IMAGES/img7.jpg);
}

.img8
{
    background-image: url(../IMAGES/img8.jpg);
}

.hidden
{
    display: none;
}

.services img
{
    float: left;/* me dale ikonat ne anen e majte sikur ni efekt warp ne word*/
    margin: 0 10px 10px 0 ;
}

.bottom-services img
{
    width: 210px;
    height: 140px;
}

.bottom-services p
{
    white-space: normal;
}

.bottom-bar
{
    margin-top: 4em;
}

.bottom-bar

#go_up
{
    width: 40px;
    height: 40px;
    float: right;
    transform: rotate(90deg);
    margin-top: -15px;
    cursor: pointer;
}
